/* GOOGLE FONT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* GENERAL STYLE STARTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}


/* HEADER STYLE STARTS */
header {
    padding: 5% 8.5%;
}

.header-section {
    display: flex;
    width: 100%;
    color: white;
    border-radius: 1.875rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 6, 79, 1) 37%, rgba(128, 58, 170, 1) 100%);
}

.heading {
    width: 50%;
    padding: 10% 8% 10%;
    text-align: start;
}

.heading h1 {
    margin-bottom: 3.125rem;
}

.heading h1 {
    font-weight: 700;
    font-size: 3vw;
    line-height: 5vw;
}

.heading p {
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.button-header {
    background-color: #521B73;
    border: none;
    border-radius: 5px;
    padding: 0.938rem 1.25rem;
    font-size: 16px;
    margin-top: 1.25rem;
}

i {
    margin-left: 0.625rem;
}

button a {
    text-decoration: none;
    color: #ffffff;
}

.image {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.image img {
    width: 80%;
}

/* BLOG SECTION */
main {
    padding: 4% 8.5%;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

/* aside */
aside {
    width: 25%;
}

.pages {
    width: 100%;
    padding: 30px;
    border-radius: 0.625rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(35, 3, 54) 37%, rgb(56, 9, 82) 100%);
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 0.625rem;
    padding: 0.938rem 1.25rem;
    font-size: 16px;
}

.button.active {
    background-color: #6a2492;
    border: none;
    border-radius: 0.625rem;
    padding: 0.938rem 1.25rem;
    font-size: 16px;
}

.button.active a {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;

}

.button a {
    color: #521B73;
    font-weight: 500;
    font-size: 1.25rem;
}

/* blog */
.blogs {
    width: 73.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    height: 100%;
}

.blog {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0.625rem;

}

.blog-info {
    padding: 1.1rem;
}

.blog-info h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 20px;
}

.blog-info button {
    padding: 4px 1.25rem;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    background-color: #ffffff;
    margin-bottom: 0.625rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.blog-image img {
    width: 100%;
}

.info-text {
    display: flex;
    justify-content: flex-start;
    color: rgba(22, 22, 22, 0.7);
}

.clock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
}

.clock i {
    margin-right: 10px;
    margin-left: -2px;
}

.comment {
    display: flex;
    align-items: center;
}

.comment i {
    margin-right: 10px;
}

/* FOOTER */
footer {
    padding: 6% 8.5% 3% 8.5%;
    background-color: #161616;
    margin-top: 5%;
}

.footer-container {
    width: 100%;

}

.footer-container h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav a {
    text-decoration: none;
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}

hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social {
    text-align: center;
}

.social i {
    margin: 60px 20px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #B9B9B9;
}


/* MATCH HTML */

.match {
    padding: 3.313rem 1.875rem 2.8rem;
}

.match-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
}

.match-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
    margin-top: 5px;
}

/* MEDIA QUERY */

@media screen and (max-width: 688px) {

    /* HEADER MEDIA QUERY */

    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .heading h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
    }

    .heading {
        padding: 4rem 4rem;
        text-align: start;
        text-align: center;
    }

    .heading h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .heading p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .heading,
    .image {
        width: 100%;
        justify-content: center;
    }

    .image img {
        width: 80%;
    }

    /* MAIN MEDIA QUERY */
    aside {
        width: 100%;
    }

    .pages {
        background: rgb(255, 255, 255);
        padding: 10px 60px 50px 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button {
        border: 1px solid rgb(208, 208, 208);
    }

    /* BLOGS */

    .blogs {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 1%;
    }

    .main-section {
        margin-bottom: 288px;
    }

    /*     FOOTER */

    .footer-nav {
        flex-direction: column;
        text-align: center;
    }

    .footer-container h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 33px;
        margin-top: 24px;
    }

    .footer-nav a {
        font-weight: 400;
        font-size: 14px;
        line-height: 50px;
        color: #B9B9B9;
    }

    .social {
        margin-bottom: 20px;
    }

}

@media screen and (min-width:689px) and (max-width: 992px) {
    .heading p {
        font-size: 1.4vw;
    }

    .heading h1 {
        margin-bottom: 6%;
    }
}